form {
}

.form-label {
	margin-top: 15px;
	padding-bottom: 5px;
}

label {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	font-weight: bold;
}

.form-widget {

}

form ul.error {
	-webkit-border-radius: 5px;
	background: #E14F1C;
	border: 1px solid #CD0A0A;
	padding: 10px;
	color: whiteSmoke;
	display: inline-block;
	min-width: 500px;
}

form ul.error li.error-item {
	color: whiteSmoke;
	background: #E14F1C;
	padding-top: 10px;
	list-style-type: square;
	list-style-position: inside;
}

form input[type="text"] {
	color: #666;
	padding: 5px;
	width: 400px;
	font-size: 14px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
}

form textarea {
	height: 150px;
	width: 500px;
}

form input[type="text"]:focus {
	-webkit-box-shadow: 0px 0px 8px #4183C4;
	-webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
}

form textarea:focus {
	-webkit-box-shadow: 0px 0px 8px #4183C4;
	-webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
}

form input.button {
	top: 1px;
	float: right;
	-webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px;
	-webkit-font-smoothing: subpixel-antialiased !important;
	background: -webkit-gradient(linear, 0% 0, 0% 100%, from(white), to(#E1E1E1));
	border-bottom: 1px solid #EBEBEB;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border: none;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	color: #333;
	cursor: pointer;
	font-family: helvetica, arial, freesans, clean, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
	overflow: visible;
	position: relative;
	text-shadow: white 1px 1px 0px;
	white-space: nowrap;
	display: block;
	height: 34px;
	line-height: 36px;
	padding: 0px 13px;
}


form input.button:hover {
	background: -webkit-gradient(linear, 0% 100%, 0% 0, from(#0770A0), to(#0CA6DD));
	color: white;
	text-shadow: rgba(0, 0, 0, 0.296875) -1px -1px 0px;
	border-bottom-color: #0770A0;
}

form input.button:active {
	background: -webkit-gradient(linear, 0% 100%, 0% 0, from(#0CA6DD), to(#0770A0));
	color: white;
	text-shadow: rgba(0, 0, 0, 0.296875) -1px -1px 0px;
	border-bottom-color: #0770A0;
}

form input.button-red {
	top: 1px;
	float: right;
	-webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px;
	-webkit-font-smoothing: subpixel-antialiased !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(red), to(maroon));
	border-bottom: 1px solid #EBEBEB;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border: none;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	color: white;
	cursor: pointer;
	font-family: helvetica, arial, freesans, clean, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
	overflow: visible;
	position: relative;
	text-shadow: black 1px 1px 0px;
	white-space: nowrap;
	display: block;
	height: 34px;
	line-height: 36px;
	padding: 0px 13px;
}

form input.button-red:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(red), to(maroon));
	text-shadow: rgba(0, 0, 0, 0.296875) -1px -1px 0px;
	border-bottom-color: #0770A0;
}

form input.button-red:active {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(maroon), to(red));
	text-shadow: rgba(0, 0, 0, 0.296875) -1px -1px 0px;
	border-bottom-color: #0770A0;
}

table {
	border-spacing: 0px 0px;
	border-collapse: collapse;
	margin: 0px;
	width: 63%;
}

table th {
	border-bottom: 1px solid #DDD;
	color: #666;
	font-size: 11px;
	font-weight: normal;
	padding: 4px 5px;
	text-align: left;
}

table td {
	background: whiteSmoke url(/images/billing_bevel.gif) repeat-x 0px 0px;
	border-bottom: 1px solid #DDD;
	font-size: 16px;
	padding: 8px 5px;
}

table td.right, table th.right {
	text-align: right;
}


