<h3>Organization Stats</h3>

    <ul>
        <li><a href="">15</a> organizations</li>
        <li><a href="">60</a> accounts</li>
        <li><a href="">25</a> projects</li>
        <li><a href="">60</a> hosts, <a href="">25</a> host groups</li>
    </ul>

<h3>Service Stats</h3>

    <ul>
        <li><a href="">200</a> services monitored</li>
        <li><a href="">15</a> alerts in last 24 hours</li>
        <li><a href="">15</a> hosts unreachable</li>
    </ul>


<h3>Billing Stats</h3>

    <ul>
        <li>10 are <span class="label">NOT BILLED</span></li>
        <li>60 on <span class="label success">FREE PLAN</span></li>
        <li>20 on <span class="label notice">SME PLAN</span></li>
        <li>10 on <span class="label warning">ENTERPRISE PLAN</span></li>
    </ul>


